#Zarb{
    color: red;
    background-color: yellow;
}

#Taqseem{
    color: black;
    background-color: purple;
}

#Jama{
    color: white;
    background-color: green;
}

#Minus{
    color: yellow;
    background-color: purple;
}